* {
  caret-color: #d0940e;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Regular.eot');
  src:
      local('Moderat Condensed Regular'),
      local('Moderat-Condensed-Regular'),
      url('/src/assets/Fonts/Moderat-Condensed-Regular.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Regular.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Regular.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Regular.ttf')
          format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Light.eot');
  src:
      local('Moderat Condensed Light'),
      local('Moderat-Condensed-Light'),
      url('/src/assets/Fonts/Moderat-Condensed-Light.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Light.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Light.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Medium-Italic.eot');
  src:
      local('Moderat Medium Italic'),
      local('Moderat-Medium-Italic'),
      url('/src/assets/Fonts/Moderat-Medium-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Medium-Italic.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Medium-Italic.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Black-Italic.eot');
  src:
      local('Moderat Black Italic'),
      local('Moderat-Black-Italic'),
      url('/src/assets/Fonts/Moderat-Black-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Black-Italic.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Black-Italic.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Mono';
  src: url('/src/assets/Fonts/Moderat-Mono-Medium.eot');
  src:
      local('Moderat Mono Medium'),
      local('Moderat-Mono-Medium'),
      url('/src/assets/Fonts/Moderat-Mono-Medium.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Mono-Medium.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Mono-Medium.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Mono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Black.eot');
  src:
      local('Moderat Extended Black'),
      local('Moderat-Extended-Black'),
      url('/src/assets/Fonts/Moderat-Extended-Black.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Black.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Black.woff') format('woff'),
      url('/src/assets/Fonts//src/assets/Fonts/Moderat-Extended-Black.ttf')
          format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Bold.eot');
  src:
      local('Moderat Bold'),
      local('Moderat-Bold'),
      url('/src/assets/Fonts/Moderat-Bold.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Bold.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Bold.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Regular.eot');
  src:
      local('Moderat Regular'),
      local('Moderat-Regular'),
      url('/src/assets/Fonts/Moderat-Regular.eot?#iefix')
          format('embedded-opentype'),
      url('Moderat-Regular.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Regular.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Thin.eot');
  src:
      local('Moderat Thin'),
      local('Moderat-Thin'),
      url('/src/assets/Fonts/Moderat-Thin.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Thin.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Thin.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Mono';
  src: url('/src/assets/Fonts/Moderat-Mono-Thin.eot');
  src:
      local('Moderat Mono Thin'),
      local('Moderat-Mono-Thin'),
      url('/src/assets/Fonts/Moderat-Mono-Thin.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Mono-Thin.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Mono-Thin.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Mono-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Bold.eot');
  src:
      local('Moderat Condensed Bold'),
      local('Moderat-Condensed-Bold'),
      url('/src/assets/Fonts/Moderat-Condensed-Bold.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Bold.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Bold.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Thin-Italic.eot');
  src:
      local('Moderat Condensed Thin Italic'),
      local('Moderat-Condensed-Thin-Italic'),
      url('/src/assets/Fonts/Moderat-Condensed-Thin-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Thin-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Thin-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Thin-Italic.ttf')
          format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Medium.eot');
  src:
      local('Moderat Condensed Medium'),
      local('Moderat-Condensed-Medium'),
      url('/src/assets/Fonts/Moderat-Condensed-Medium.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Medium.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Medium.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Thin.eot');
  src:
      local('Moderat Extended Thin'),
      local('Moderat-Extended-Thin'),
      url('/src/assets/Fonts/Moderat-Extended-Thin.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Thin.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Thin.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Thin-Italic.eot');
  src:
      local('Moderat Thin Italic'),
      local('Moderat-Thin-Italic'),
      url('/src/assets/Fonts/Moderat-Thin-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Thin-Italic.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Thin-Italic.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Thin-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Mono-Bold.eot');
  src:
      local('Moderat Mono Bold'),
      local('Moderat-Mono-Bold'),
      url('/src/assets/Fonts/Moderat-Mono-Bold.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Mono-Bold.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Mono-Bold.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Mono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Thin-Italic.eot');
  src:
      local('Moderat Extended Thin Italic'),
      local('Moderat-Extended-Thin-Italic'),
      url('/src/assets/Fonts/Moderat-Extended-Thin-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Thin-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Thin-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Thin-Italic.ttf')
          format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Light-Italic.eot');
  src:
      local('Moderat Condensed Light Italic'),
      local('Moderat-Condensed-Light-Italic'),
      url('/src/assets/Fonts/Moderat-Condensed-Light-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Light-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Light-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Light-Italic.ttf')
          format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Light-Italic.eot');
  src:
      local('Moderat Extended Light Italic'),
      local('Moderat-Extended-Light-Italic'),
      url('/src/assets/Fonts/Moderat-Extended-Light-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Light-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Light-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Light-Italic.ttf')
          format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Medium-Italic.eot');
  src:
      local('Moderat Condensed Medium Italic'),
      local('Moderat-Condensed-Medium-Italic'),
      url('/src/assets/Fonts/Moderat-Condensed-Medium-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Medium-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Medium-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Medium-Italic.ttf')
          format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Regular.eot');
  src:
      local('Moderat Extended Regular'),
      local('Moderat-Extended-Regular'),
      url('/src/assets/Fonts/Moderat-Extended-Regular.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Regular.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Regular.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Bold-Italic.eot');
  src:
      local('Moderat Bold Italic'),
      local('Moderat-Bold-Italic'),
      url('/src/assets/Fonts/Moderat-Bold-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Bold-Italic.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Bold-Italic.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Regular-Italic.eot');
  src:
      local('Moderat Extended Regular Italic'),
      local('Moderat-Extended-Regular-Italic'),
      url('/src/assets/Fonts/Moderat-Extended-Regular-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Regular-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Regular-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Regular-Italic.ttf')
          format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Mono';
  src: url('/src/assets/Fonts/Moderat-Mono-Regular.eot');
  src:
      local('Moderat Mono Regular'),
      local('Moderat-Mono-Regular'),
      url('/src/assets/Fonts/Moderat-Mono-Regular.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Mono-Regular.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Mono-Regular.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Mono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Black-Italic.eot');
  src:
      local('Moderat Condensed Black Italic'),
      local('Moderat-Condensed-Black-Italic'),
      url('/src/assets/Fonts/Moderat-Condensed-Black-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Black-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Black-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Black-Italic.ttf')
          format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Black.eot');
  src:
      local('Moderat Condensed Black'),
      local('Moderat-Condensed-Black'),
      url('/src/assets/Fonts/Moderat-Condensed-Black.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Black.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Black.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Bold.eot');
  src:
      local('Moderat Extended Bold'),
      local('Moderat-Extended-Bold'),
      url('/src/assets/Fonts/Moderat-Extended-Bold.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Bold.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Bold.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Medium-Italic.eot');
  src:
      local('Moderat Extended Medium Italic'),
      local('Moderat-Extended-Medium-Italic'),
      url('/src/assets/Fonts/Moderat-Extended-Medium-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Medium-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Medium-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Medium-Italic.ttf')
          format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Bold-Italic.eot');
  src:
      local('Moderat Condensed Bold Italic'),
      local('Moderat-Condensed-Bold-Italic'),
      url('/src/assets/Fonts/Moderat-Condensed-Bold-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Bold-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Bold-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Bold-Italic.ttf')
          format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Thin.eot');
  src:
      local('Moderat Condensed Thin'),
      local('Moderat-Condensed-Thin'),
      url('/src/assets/Fonts/Moderat-Condensed-Thin.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Thin.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Thin.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Medium.eot');
  src:
      local('Moderat Extended Medium'),
      local('Moderat-Extended-Medium'),
      url('/src/assets/Fonts/Moderat-Extended-Medium.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Medium.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Medium.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Medium.eot');
  src:
      local('Moderat Medium'),
      local('Moderat-Medium'),
      url('/src/assets/Fonts/Moderat-Medium.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Medium.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Medium.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Light-Italic.eot');
  src:
      local('Moderat Light Italic'),
      local('Moderat-Light-Italic'),
      url('/src/assets/Fonts/Moderat-Light-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Light-Italic.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Light-Italic.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Condensed';
  src: url('/src/assets/Fonts/Moderat-Condensed-Regular-Italic.eot');
  src:
      local('Moderat Condensed Regular Italic'),
      local('Moderat-Condensed-Regular-Italic'),
      url('/src/assets/Fonts/Moderat-Condensed-Regular-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Condensed-Regular-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Condensed-Regular-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Condensed-Regular-Italic.ttf')
          format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Mono';
  src: url('/src/assets/Fonts/Moderat-Mono-Black.eot');
  src:
      local('Moderat Mono Black'),
      local('Moderat-Mono-Black'),
      url('/src/assets/Fonts/Moderat-Mono-Black.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Mono-Black.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Mono-Black.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Mono-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Black-Italic.eot');
  src:
      local('Moderat Extended Black Italic'),
      local('Moderat-Extended-Black-Italic'),
      url('/src/assets/Fonts/Moderat-Extended-Black-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Black-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Black-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Black-Italic.ttf')
          format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Black.eot');
  src:
      local('Moderat Black'),
      local('Moderat-Black'),
      url('/src/assets/Fonts/Moderat-Black.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Black.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Black.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Regular-Italic.eot');
  src:
      local('Moderat Regular Italic'),
      local('Moderat-Regular-Italic'),
      url('/src/assets/Fonts/Moderat-Regular-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Regular-Italic.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Regular-Italic.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Regular-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Light.eot');
  src:
      local('Moderat Extended Light'),
      local('Moderat-Extended-Light'),
      url('/src/assets/Fonts/Moderat-Extended-Light.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Light.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Light.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Extended';
  src: url('/src/assets/Fonts/Moderat-Extended-Bold-Italic.eot');
  src:
      local('Moderat Extended Bold Italic'),
      local('Moderat-Extended-Bold-Italic'),
      url('/src/assets/Fonts/Moderat-Extended-Bold-Italic.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Extended-Bold-Italic.woff2')
          format('woff2'),
      url('/src/assets/Fonts/Moderat-Extended-Bold-Italic.woff')
          format('woff'),
      url('/src/assets/Fonts/Moderat-Extended-Bold-Italic.ttf')
          format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Moderat';
  src: url('/src/assets/Fonts/Moderat-Light.eot');
  src:
      local('Moderat Light'),
      local('Moderat-Light'),
      url('/src/assets/Fonts/Moderat-Light.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Light.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Light.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Moderat Mono';
  src: url('/src/assets/Fonts/Moderat-Mono-Light.eot');
  src:
      local('Moderat Mono Light'),
      local('Moderat-Mono-Light'),
      url('/src/assets/Fonts/Moderat-Mono-Light.eot?#iefix')
          format('embedded-opentype'),
      url('/src/assets/Fonts/Moderat-Mono-Light.woff2') format('woff2'),
      url('/src/assets/Fonts/Moderat-Mono-Light.woff') format('woff'),
      url('/src/assets/Fonts/Moderat-Mono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  /* font-family: 'Moderat Condensed'; */
  font-family: 'Moderat';
  /* font-family: 'Moderat Mono'; */
  /* font-family: 'Moderat Extended'; */
}

input[type="date"] {
  accent-color: #d0940e; /* Changes the highlight color (if supported) */
  background-color: #fff; /* White background */
  border: 2px solid #d0940e; /* Border in your color */
  color: #333; /* Text color */
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  outline: none;
}

input[type="date"]:focus {
  border-color: #b07d0c; /* Darker shade when focused */
  box-shadow: 0 0 5px rgba(208, 148, 14, 0.5);
}
